

.block {
   position: relative;
   cursor: pointer;
}

.image{
    width: 93.5%;
    border-radius: 15px;
    padding: 5px;
    display: block;
    height: auto;
    margin-right: 90px;
   
    
    /* object-fit: contain;
    position: relative;
    margin: 0px;
    padding: 0px;
    border-radius: 15px; */
}
.ribbon {
    position: absolute;
    right: 13px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
  }
  .ribbon span {
    font-size: 15px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 109px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#8DC63F 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
  }
  .ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
  }
  .ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #79A70A;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
  }
  .jackpot_tag{
    position: absolute;
    top: 5px;
    padding: 10px;
    width: 80%;
    margin-left: 10px;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }